html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f5f5f5;
  /* Light gray background for testing CI/CD pipeline */
}

/* UI tweaks for obituary cards */
.obituary-card:hover {
  transform: translateY(-2px);
  transition: transform 120ms ease-in-out, box-shadow 120ms ease-in-out;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.object-fit-cover {
  object-fit: cover;
}

.form-floating>.form-control-plaintext::placeholder, .form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder, .form-floating>.form-control:focus::placeholder {
  text-align: start;
}
